body{
    margin: 0;
}

div{
    background-color: rgb(145, 255, 255);
    color: rgb(14, 1, 37);
    border: 3px solid rgb(74, 9, 134);
background: #70ecff;
background: #70ecff;
background: linear-gradient(90deg, rgba(112, 236, 255, 1) 0%, rgba(4, 4, 71, 1) 96%, rgba(255, 13, 146, 1) 100%);

margin-top: 30px;
margin-left: 100px;
margin-bottom: 50px;
margin-right: 35px;

margin: 30px 100px 50px 35px;

    padding: 17.5px;
width: 30%;
opacity: 0.80;
scale: 1.20;
transition: 1s;
}

div:hover{
color: rgb(183, 0, 255);
scale: 1.23;
background: #70ecff;
background: #70ecff;
background: #70ecff;
background: linear-gradient(90deg, rgba(112, 236, 255, 1) 0%, rgba(4, 4, 71, 1) 87%, rgba(255, 13, 146, 1) 100%);
width: 40%;
margin-left: 60px;
opacity: 0.75;

}

















