body{
    font-family: 'Comic Sans MS';
}

.cards{
 padding: 10px;
 display: flex;
flex-wrap: wrap;
}

.card{
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(89,89,89);
    cursor: pointer;
    transition: 0.3;
}

.card:hover{
    scale: 1.1 ;
}

.card img{
    height: 150px;
    width: 200;
}

.titulo{
    text-align: center;
    color: black;
    font-size: 22px;
}

.info{
text-align: center;
color: rgb(162, 162, 162);
font-size: 15px;
}

.informaçao{
    text-align: center;
    color: rgb(162, 162, 162);
    font-size: 15px;
}